<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{{Title}}</title>
        <link rel='stylesheet' href='static/css/style.css'/>
        <script src="/static/lib/react.min.js"></script>
        <script src="/static/lib/cookies.min.js"></script>
        <script src="/static/lib/qwest.min.js"></script>
        <script src="/static/jsx/users.js"></script>
        <script src="/static/jsx/search.js"></script>
        <script src="/static/jsx/topbar.js"></script>
    </head>
    <body>
        <div id="container">{{{content}}}</div>
    </body>
</html>
